//! **************************************************************************
// Written by: Map J.36 on Mon Dec 07 13:16:44 2015
//! **************************************************************************

SCHEMATIC START;
COMP "rd<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "rd<4>" LOCATE = SITE "F10" LEVEL 1;
COMP "rd<5>" LOCATE = SITE "D7" LEVEL 1;
COMP "rd<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "rd<7>" LOCATE = SITE "H10" LEVEL 1;
COMP "cs" LOCATE = SITE "G12" LEVEL 1;
COMP "hs" LOCATE = SITE "B8" LEVEL 1;
COMP "vs" LOCATE = SITE "D11" LEVEL 1;
COMP "reset" LOCATE = SITE "AG5" LEVEL 1;
COMP "data" LOCATE = SITE "AG1" LEVEL 1;
COMP "blnk" LOCATE = SITE "A8" LEVEL 1;
COMP "pclk" LOCATE = SITE "H12" LEVEL 1;
COMP "clk" LOCATE = SITE "AJ15" LEVEL 1;
COMP "bl<0>" LOCATE = SITE "D15" LEVEL 1;
COMP "bl<1>" LOCATE = SITE "E15" LEVEL 1;
COMP "bl<2>" LOCATE = SITE "H15" LEVEL 1;
COMP "bl<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "bl<4>" LOCATE = SITE "C13" LEVEL 1;
COMP "bl<5>" LOCATE = SITE "D13" LEVEL 1;
COMP "bl<6>" LOCATE = SITE "D14" LEVEL 1;
COMP "bl<7>" LOCATE = SITE "E14" LEVEL 1;
COMP "gr<0>" LOCATE = SITE "G10" LEVEL 1;
COMP "gr<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "gr<2>" LOCATE = SITE "D10" LEVEL 1;
COMP "gr<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "gr<4>" LOCATE = SITE "C8" LEVEL 1;
COMP "gr<5>" LOCATE = SITE "H11" LEVEL 1;
COMP "gr<6>" LOCATE = SITE "G11" LEVEL 1;
COMP "gr<7>" LOCATE = SITE "E11" LEVEL 1;
COMP "kb_clock" LOCATE = SITE "AG2" LEVEL 1;
COMP "rd<0>" LOCATE = SITE "G8" LEVEL 1;
COMP "rd<1>" LOCATE = SITE "H9" LEVEL 1;
COMP "rd<2>" LOCATE = SITE "G9" LEVEL 1;
NET "kb_clock_BUFGP/IBUFG" BEL "kb_clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
